PORT=3000
NODE_ENV=development # development / production
BASE_URL=http://localhost:3000 # domain lengkap publik URL aplikasi
CLIENT_URL=http://localhost:3000 # dalam development bisa disamakan dulu
APP_NAME=TernakKu

# Database - Sesuaikan kembali dengan lingkungan aplikasi
DATABASE_URL="mysql://root:@localhost:3306/ternakku"
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_NAME=ternakku

# JWT - Sesuaikan dengan kebutuhan
JWT_SECRET=""
ACCESS_TOKEN_EXPIRATION="15m"
REFRESH_TOKEN_EXPIRATION="28d"

# Mailer - Gunakan akun gmail asli dengan app password
MAILER_USER="email@gmail.com"
MAILER_PASSWORD="abcd efgh ijkl mnop"

# Admin - User pertama dari seeder dengan role admin
ADMIN_USERNAME="admin"
ADMIN_EMAIL="adminternakku@gmail.com"
ADMIN_PASSWORD="1234Asd!"